body {
  padding: 0;
  margin: 0;
  font-family: Courier, 'Courier New', monospace;
  background: #000;
  font-size: 16px;
}

header {
  position: absolute;
  top: 0;
}

main {
    text-align: center;
}

.booth {
    text-align: center;
}

.countdown {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50%;
    padding: 1em;
    color: #fff;
}

.number {
    font-size: 3em;
    font-weight: bold;
}

.countdown > * {
    flex: 0 0 auto;
}

.clip-progress {
    width: 100%;
    margin: 0;
    background: #000;
    border: 0;
    height: 5px;
    position: absolute;
    top: 0;
    left: 0;
}

.clip-progress::-moz-progress-bar {
  background: #f00;
}

.controls {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  background: #fff;
  color: #000;
  padding: 14px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.control {
  display: flex-item;
  flex: 1 0 auto;
}

.control:nth-child(2) {
  margin: 0 2em;
}

.effects {
  /*text-align: left;*/
}

.effect {
  display: block;
  text-align: left;
  line-height: 23px;
  margin-top: 4px;
}

.effect:first-child {
  margin: 0;
}

moz-select span {
  padding: 0 1em;
  width: 150px;
  display: inline-block;
  text-align: center;
  line-height: 23px;
}

moz-select button {
  border: 0;
  background: #000;
  color: #fff;
  height: 23px;
}

.record {
  border-radius: 50%;
  background: #000;
  border: 0;
  width: 50px;
  height: 50px;
}

.record:hover {
  cursor: pointer;
}

.record-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #f00;
  display: block;
  font-size: 0;
  line-height: 20px;
  margin: 0 auto;
}

.record:disabled {
  cursor: not-allowed;
}

.record:disabled .record-icon {
  background: #999;
}

.record.active .record-icon {
  animation-name: flash;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-duration: 1.5s;
  background: #f00;
}

.download {
  background: #000;
  border-radius: 10px;
  color: #fff;
  border: 0;
  padding: 0.5em 2em;
  cursor: pointer;
}

.download:disabled {
  cursor: not-allowed;
  background: #aaa;
}

@-moz-keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}
